services:
  app:
    build:
      context: node
    container_name: app
    entrypoint: dockerize -wait tcp://db:3306 -timeout 20s sh -c "npm install && npm start && nodemon index.js";
    environment:
      - PORT=8080
    networks:
      - node-network
    volumes:
      - ./node:/usr/src/app
    depends_on:
      - db
    ports:
      - "8080:8080"

  db:
    build:
      context: mariadb
    image: mariadb:latest
    command: --innodb-use-native-aio=0
    container_name: db
    restart: always
    tty: true
    volumes:
      - ./mariadb/data:/var/lib/mysql
    environment:
      - MARIADB_DATABASE=nodedb
      - MARIADB_ROOT_PASSWORD=node
    networks:
      - node-network

networks:
  node-network:
    driver: bridge
